body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.class-set{
  display: flex;
}

.list-Account{
  background-color: white;
}

.avatar-icon-button {
  display: flex;
  align-items: center;  
}

.username {
  margin-left: 10px;
}

.username #sub {
  font-size: smaller;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  max-width: 300px;
}