body {
  margin: 0 auto;
  background-color: lightgray;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
.spaced{
  object-position: 5px 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-center {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.send-center {
  margin-left: 10px;
}

.input-center input {
  margin: 10px;
}

.class-set{
  display: flex;
}

.list-Account{
  background-color: white;
}

.avatar-icon-button {
  display: flex;
  align-items: center;  
}

.username {
  margin-left: 10px;
}

.username #sub {
  font-size: smaller;
}

.header-bar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
